@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Yrsa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

*{
    margin: 0;
    padding:0;
}
input.theme:checked + label {
   color: #32cd32;
}
a.active, a.active:hover{
    color: #32cd32;
}
.quill > .ql-container > .ql-editor.ql-blank::before{
    font-size: 20px;
    color: gray;
}
.quill > .ql-toolbar{
    color: gray;
}
button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: #32cd32 !important;
}
button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: #32cd32 !important;
}
.ql-active .ql-stroke {
  fill: none;
  stroke: #32cd32 !important;
}
button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: #32cd32 !important;
  stroke: none;
}
.ql-active .ql-fill {
  fill: #32cd32 !important;
  stroke: none;
}
.ql-picker-label:hover{
    color: #32cd32 !important;
}
.title{
  font-family:'Times New Roman', Times, serif;
}
.body{
  color: #111111;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times;
  font-size: 1.25rem;
}
.nav-show{
         max-height: 1000%;
     }

@tailwind base;
@tailwind components;
@tailwind utilities;